* {
    margin: 0px;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

body {
    background-color: #F5F1E8;
    font-family: "Albert Sans", sans-serif;;
}

/*Box Class is Used to layout elements in grid - would be removed once content is added*/
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: darkgray;
    padding: 10px;
    margin: 10px 0px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.07);
}

/* Styling for Spacing Utility Classes - Margins, Padding, Floats, or Positioning */

.margin-top {
    margin-top: 30px;
}

.margin-bottom {
    margin-bottom: 30px;
}

.p-spacing {
    margin-top: 15px;
    line-height: 30px;
}

p:first-of-type.p-spacing {
    margin-top: 35px;
}

p:last-of-type.p-spacing {
    margin-bottom: 35px;
}

/* Styling for Fonts */

.main-heading {
    font-size: 55px;
    font-family: "GFS Didot", serif;
    color: #800020;
}