footer {
    padding: 15px;
    background-color: #800020;
    color: #F5F1E8;

    nav {

        ul {
            list-style-type: none;
            height: 100%;
            padding: 10px;
            line-height: 25px;
            text-align: center;

            li {
                a {
                    color: #F5F1E8;
                    text-decoration: none;
                }
            }

            @media screen and (min-width: 1200px) {
                padding: 0px;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }

    }
}